@charset "UTF-8";
/* CSS Document */

html,body { height:100%; }
body { margin: 0; padding: 0; }

body { background:#E6E6E6;font-family:'Microsoft JhengHei', 微軟正黑體,sans-serif;}
img { border:0px;}
.clear {
  clear: both;
}



