<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>Cloud. CMS 網頁後台管理系統</title>
<link rel="stylesheet" href="css/login.css" type="text/css" media="screen" />
<link rel="stylesheet" href="css/page.css" type="text/css" media="screen" />
</head>
<body>
<div class="background"><img src="images/bg.jpg"></div>
<div id="login">
   <h2>J.Y.C. 集藝選創意設計</h2>
   <div class="login">
   <form action="" method="post">
      <div class="input_box"><input type="text" name="title" class="user"></div>
      <div class="input_box"><input type="text" name="content" class="password"></div>
      <div class="button_box">
        <button type="submit" class="submit_login" name="submit">登入</button>
      </div>
      <div class="remember">
         <input type="checkbox" name="checkbox" id="checkbox" class="checkbox"><span class="txt">記住我的帳號</span>
      </div>
      <ul class="pages_top pages">
        <li class="pageselect">
        <select class="selectstyle" onChange="location = this.options[this.selectedIndex].value;">
           <option>請選擇...</option>
           <option value="1.html">Dcbakfgha</option>
           <option value="1.html">tdBBdasef</option>
           <option value="1.html">jfthdsdxD</option>
           <option value="1.html">fxgrTTjnv</option>
           <option value="1.html">fosojisoi</option>
         </select>
         <div class="number">自訂密碼</div>
         <div class="arrow icomoon">s</div>
         </li>
       </ul><!--pages_top end-->
   </form>
   </div>
<div class="login_info">
   <div class="info_txt">
      Cloud. CMS<span class="version">v1.0</span><br>
      網站管理系統</div>
</div>
</div><!--login end-->

<script type='text/javascript' src='js/jquery.min.js'></script>
<script src="js/page.js" type="text/javascript"></script>
</body>
</html>