@charset "UTF-8";
/* CSS Document */

/*第一張*/
.banner_01 {
	width:60%;
	height:98%;
	position:absolute;
	left:6498px;
	top:0px;
	z-index:2;
	overflow:hidden;
}
.banner_01_01 {
	width:100%;
	height:100%;
}
.index_info_01 {
	width:341.25px;
	height:100%;
	position:absolute;
	left:6498px;
	top:0px;
	z-index:3;
}
.index_menu_01 {
	width:624px;
	height:100%;
	position:absolute;
	right:50px;
	top:0px;
	z-index:4;
	opacity:0;
	background:#FFF;
}
	.index_menu_01 .index_title_01 {
		width:147px;
		height:343px;
		position:absolute;
		bottom:71px;
		right:114px;
	}
		.index_menu_01 .index_title_01 .logo{
			margin-bottom:70px;
			margin-top:30px;
			width:100%;
			font-family: 'Klill-Light';
			font-size:30px;
			line-height:30px;
		}
		.index_menu_01 .index_title_01 .logo a{
			color:#3d3a39;
			text-decoration:none;
		}
			.index_menu_01 .index_title_01 .logo .small_font {
				font-family: 'Klill-Light';
				font-size:24px;
			}
		.index_menu_01 .index_title_01 ul {
			list-style: none;
			width:100px;
			padding:0;
			margin:0;
		} 
		.index_menu_01 .index_title_01 ul li{
			font-size:22px;
			color:#969696;
			line-height:48px;
			width:100px;
			font-family: 'UniversNextPro-Light';
		}
		.index_menu_01 .index_title_01 ul li a {
			color:#969696;
			} 
		.index_menu_01 .index_title_01 ul li a:hover{
			color:#3e3a39;
		}

.prv_01 {width:40px; height:80px; position:absolute; z-index:6; right:-40px; bottom:216px; opacity:0.3; background:url(images/index_pre_01.png); background-size:40px 80px}
.next_01  {width:40px; height:80px; position:absolute; z-index:6; right:-40px; bottom:137px; opacity:1; background:url(images/index_next_01.png); background-size:40px 80px}


/*第二張*/
.banner_02 {
	width:35%;
	height:100%;
	right:-6498px;
	position:absolute;
	z-index:2;
	overflow:hidden;
}
.banner_02_01 {
	width:100%;
	height:100%;
}
.index_info_02 {
	width:35%;
	height:100%;
	position:absolute;
	left:-6498px;
	top:0px;
	z-index:2;
}

.prv_02 {width:40px; height:80px; position:absolute; z-index:5; right:-40px; bottom:216px; opacity:0; background:url(images/index_pre_01.png); background-size:40px 80px}
.next_02  {width:40px; height:80px; position:absolute; z-index:5; right:-40px; bottom:137px; opacity:0; background:url(images/index_next_01.png); background-size:40px 80px}


/*第三張*/
.banner_03 {
	width:45%;
	height:100%;
	left:-6498px;
	position:absolute;
	z-index:8;
	overflow:hidden;
}
.banner_03_01 {
	width:100%;
	height:100%;
}
.index_info_03 {
	width:35%;
	height:100%;
	position:absolute;
	right:-6498px;
	top:0px;
	z-index:7;
}

.prv_03 {width:40px; height:80px; position:absolute; z-index:5; right:-40px; bottom:216px; opacity:0; background:url(images/index_pre_01.png); background-size:40px 80px}
.next_03  {width:40px; height:80px; position:absolute; z-index:5; right:-40px; bottom:137px; opacity:0; background:url(images/index_next_01.png); background-size:40px 80px}


/*第四張*/
.banner_04 {
	width:30%;
	height:98%;
	right:-6498px;
	position:absolute;
	z-index:10;
	overflow:hidden;
}
.banner_04_01 {
	width:100%;
	height:100%;
}
.index_info_04 {
	width:50%;
	height:100%;
	position:absolute;
	left:-6498px;
	top:0px;
	z-index:9;
}

.prv_04 {width:40px; height:80px; position:absolute; z-index:5; right:-40px; bottom:216px; opacity:0; background:url(images/index_pre_01.png); background-size:40px 80px}
.next_04  {width:40px; height:80px; position:absolute; z-index:5; right:-40px; bottom:137px; opacity:0; background:url(images/index_next_01.png); background-size:40px 80px}


.index_logo { width:85px; height:85px; position:absolute; top:34px; left:35px;}
.index_name { color:#FFF; transform:rotate(-90deg); -webkit-transform:rotate(-90deg); -moz-transform:rotate(-90deg); -ms-transform:rotate(-90deg); letter-spacing:1px; font-family: 'Klill-Light'; font-size:16px; position:absolute; top:200px; left:-25px;}